h1 {
    font-family: Tahoma;
    color: darkorchid;
    margin-bottom: 0px;
    margin-left: 10px;
}

h2 {
    font-family: Tahoma;
    color: darkorchid;
    margin-bottom: 0px;
    margin-left: 10px;
}

h3 {
    font-family: Tahoma;
    color: darkorchid;
    margin-bottom: 0px;
    margin-left: 10px;
}

h4 {
    font-family: Tahoma;
    font-weight: lighter;
    color: darkorchid;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 10px;
}

p{
    font-family: Tahoma;
    font-weight: 100;
    line-height: normal;
    color: black;
    min-width: 200px;
    max-width: 1000px;
    margin: 0px 10px;
}

ul {
    font-family: Tahoma;
    color: black;
}

ol {
    font-family: Tahoma;
    color: black;
}

li {
    padding-left: 10px;
    max-width: 500px;
}

.authors {
    font-family: Tahoma;
    font-weight: normal;
    color: darkorchid;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 10px;
}

.refnum {
    
    float: left;
}

.reference {
    float: left;
}