body{
  margin-left: 150px;
  margin-right: 150px;
  font-family: 'Helvetica Neue';
}

h1 {
    color: #ff196a;
    margin-bottom: 0px;
    margin-left: 10px;
}

h2 {
    color: #ff196a;
    margin-bottom: 0px;
    margin-left: 10px;
}

h3 {
    color: #ff196a;
    margin-bottom: 0px;
    margin-left: 10px;
}

h4 {
    font-weight: 200;
    color: #ff196a;
    margin-bottom: 0px;
    margin-top: 5px;
    margin-left: 10px;
}

p{
    font-size: 20px;
    font-weight: 300;
    line-height: normal;
    color: black;
    min-width: 200px;
    max-width: 1000px;
    margin: 0px 10px;
}

ul {
    color: black;
}

ol {
    color: black;
}

li {
    font-size: 18px;
    font-weight: 300;
    padding-left: 10px;
    max-width: 500px;
}

.authors {
    font-weight: normal;
    color: #ff196a;
    margin-bottom: 0px;
    margin-top: 5px;
    margin-left: 10px;
}

.refnum {

    float: left;
}

.reference {
    float: left;
}
